[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GrFA"]
	path = GrFA
	url = https://github.com/cran/GrFA
[submodule "HTT"]
	path = HTT
	url = https://github.com/cran/HTT
[submodule "REFA"]
	path = REFA
	url = https://github.com/cran/REFA
